#game-board {
  margin-top: 20px;
  text-align: center; }
  #game-board table {
    display: inline-block;
    margin: 0 auto; }

.box {
  border: 1px solid grey;
  font-size: 18px;
  height: 30px;
  width: 30px; }

.box input {
  height: 30px;
  font-size: 16px;
  text-align: center;
  width: 30px; }

#game-board .reg1, #game-board .reg3, #game-board .reg5, #game-board .reg7, #game-board .reg9 {
  border: 2px solid #ecf0f1; }
#game-board .reg2, #game-board .reg4, #game-board .reg6, #game-board .reg8 {
  border: 2px solid #bdc3c7; }

.button-area {
  margin-top: 100px;
  text-align: center; }

#generate-board {
  margin-bottom: 30px; }

button {
  color: #f15c5c;
  background: #feee7d;
  display: flex;
  overflow: hidden;
  margin: 10px auto;
  padding: 6px 12px;
  border: 0 none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  justify-content: center;
  align-items: center;
  flex: 0 0 160px; }

#generate-input {
  border: 2px solid #bdc3c7;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 12px; }

#generate-button {
  display: inline-block; }
