#game-board {
  margin-top: 60px;
  text-align: center; }
  #game-board table {
    display: inline-block;
    margin: 0 auto; }

.box {
  border: 1px solid grey; }

.box input {
  height: 30px;
  text-align: center;
  width: 30px; }
